html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.background-image-functions, .bcg-img4, .bcg-img3, .bcg-img2, .bcg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar {
  height: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  nav ul {
    display: none;
  }
}
nav ul li a {
  color: white;
  font-size: 14px;
  transition: 0.6s;
}
nav ul li a:hover {
  color: #ec1d25;
}

.social_icons a {
  display: flex;
  gap: 12px;
  color: white;
}
.social_icons a .bar-icon {
  display: none;
}
.social_icons a .phone {
  border-radius: 50%;
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  margin-top: 100px;
  padding-bottom: 100px;
}
footer .colorlib {
  font-size: 12px;
  color: #666666;
  padding-top: 60px;
  text-align: center;
}
footer .colorlib a {
  color: #666666;
}
footer .colorlib a:hover {
  color: #222222;
}
footer .colorlib i {
  color: #dc3545;
}

.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 3;
  color: #222222;
}

ul li {
  font-size: 12px;
  line-height: 1.9;
  color: #666666;
}
ul li:hover {
  color: #222222;
  cursor: pointer;
}

.social-icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.social-icon li {
  color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-top: 3px;
  background-color: #00917c;
  text-align: center;
  transition: 0.4s;
}
.social-icon li:hover {
  background-color: #00c4a8;
}

.bcg-img1 {
  background-image: url("https://preview.colorlib.com/theme/hotell/images/img_1.jpg.webp");
  width: 100%;
  height: 110vh;
  position: relative;
}
.bcg-img1 .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 250px;
}
.bcg-img1 .hero h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.bcg-img1 .hero a {
  width: 80px;
  font-size: 13px;
  color: white;
  background-color: #00917c;
  text-align: center;
  padding: 18px;
  margin-top: 40px;
  border-radius: 18px;
}

.row_search {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  position: absolute;
  margin-top: -50px;
  background-color: white;
}
.row_search input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666666;
}
.row_search .find, .row_search .show {
  width: 100px;
  font-size: 13px;
  color: white;
  background-color: #00917c;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.row_about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.row_about img {
  width: 100%;
}
.row_about h3 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 200px;
  line-height: 4;
  color: #00917c;
}
.row_about p {
  color: #666666;
  font-size: 12px;
  margin-left: 200px;
  line-height: 1.4;
}
.row_about .p1 {
  margin-bottom: 18px;
}

.our_services {
  margin-top: 120px;
}
.our_services h1 {
  font-size: 22px;
  font-weight: 800;
  color: #00917c;
  line-height: 6;
  font-family: "Work Sans";
}

.prevBtn button {
  width: 60px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: 0.4s;
  margin-top: 50px;
  cursor: pointer;
}
.prevBtn button:hover {
  border-color: #000;
}

.nextBtn button {
  width: 60px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: 0.4s;
  margin-top: 50px;
  cursor: pointer;
}
.nextBtn button:hover {
  border-color: #000;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cards .card {
  width: 300px;
  height: 180px;
  border: 1px solid red;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  padding: 50px 50px 100px 50px;
  border: none;
}
.cards .card h2 {
  font-size: 17px;
  font-weight: 600;
  color: #222222;
  font-family: "Work Sans";
  margin-bottom: 0.5rem;
}
.cards .card p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  line-height: 1.5;
}
.cards .card a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #888;
  line-height: 10;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card-blog {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cards .card-blog span {
  position: absolute;
  left: 35px;
  bottom: 132px;
  padding: 4px;
  border-radius: 50%;
  background-color: #00917c;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards .card-blog span i {
  padding: 10px;
}
.cards .card-blog img {
  width: 100%;
  cursor: pointer;
}
.cards .card-blog h2 {
  font-size: 18px;
  color: black;
  padding-left: 18px;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 700;
}
.cards .card-blog a {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #888;
  padding-left: 18px;
  line-height: 5;
  transition: 0.4s;
}
.cards .card-blog a:hover {
  color: black;
}

.blog_posts {
  margin-top: 150px;
}
.blog_posts h2 {
  font-size: 32px;
  font-weight: 700;
  color: #00917c;
}

.testimonials {
  margin-top: 150px;
  margin-bottom: 250px;
}
.testimonials .btns {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.testimonials .btns .prevBtn button {
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.testimonials .btns .prevBtn button:hover {
  border: 1px solid black;
}
.testimonials .btns .nextBtn button {
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.testimonials .btns .nextBtn button:hover {
  border: 1px solid black;
}
.testimonials .test {
  display: flex;
  gap: 80px;
}
.testimonials .test span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Work Sans";
}
.testimonials .test h2 {
  color: #00917c;
  font-size: 32px;
  font-family: "Work Sans";
  font-weight: 700;
}

.cards .card-test {
  position: relative;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cards .card-test p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 18px;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 700;
}
.cards .card-test span {
  position: absolute;
}
.cards .card-test .director {
  display: flex;
}
.cards .card-test .director h3 {
  padding-left: 20px;
  padding-top: 6px;
}
.cards .card-test .director span {
  padding-left: 90px;
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.cards .card-test .director img {
  padding-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-left: 10px;
}

.bcg-img2 {
  background-image: url(https://preview.colorlib.com/theme/hotell/images/img_3.jpg);
  width: 100%;
  height: 110vh;
}
.bcg-img2 .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 250px;
}
.bcg-img2 .hero h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 2;
}
.bcg-img2 .hero p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.bcg-img3 {
  background-image: url(https://preview.colorlib.com/theme/hotell/images/img_3.jpg);
  width: 100%;
  height: 110vh;
}
.bcg-img3 .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 250px;
}
.bcg-img3 .hero h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 2;
}
.bcg-img3 .hero p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.who_we_are {
  margin-top: 150px;
  margin-bottom: 100px;
}
.who_we_are .cards .card-who {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}
.who_we_are .cards .card-who p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.who_we_are .cards .card-who img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.who_we_are .cards .card-who h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Work Sans";
}
.who_we_are .cards .card-who span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.who_we_are .cards .card-who a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  line-height: 10;
  transition: 0.4s;
}
.who_we_are .cards .card-who a:hover {
  color: black;
}
.who_we_are .who-we {
  display: flex;
  gap: 200px;
}
.who_we_are .who-we span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  font-family: "Work Sans";
}
.who_we_are h2 {
  font-size: 26px;
  font-weight: 800;
  font-family: "Work Sans";
  color: #00917c;
}

.bcg-img4 {
  background-image: url(https://preview.colorlib.com/theme/hotell/images/img_4.jpg);
  width: 100%;
  height: 110vh;
}
.bcg-img4 .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 250px;
}
.bcg-img4 .hero h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 2;
}
.bcg-img4 .hero p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.get_in_touch {
  margin-top: 120px;
}
.get_in_touch .form-text h2 {
  color: #00917c;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
}
.get_in_touch .form-text p {
  font-size: 13px;
  color: #666666;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.row_touch {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.col-5 .col-3 {
  padding-bottom: 100px;
}
.col-5 .col-3 h4 {
  font-size: 14px;
  color: #52565e;
  line-height: 3;
  font-weight: 600;
}
.col-5 .col-3 p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.col-5 .col-2 {
  margin-left: 40px;
  padding-bottom: 110px;
}
.col-5 .col-2 a {
  color: #00917c;
}
.col-5 .col-2 h4 {
  font-size: 14px;
  color: #52565e;
  line-height: 3;
  font-weight: 600;
}
.col-5 .col-2 p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.name-email {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.name-email input {
  border: 2px solid #f0f0f0;
  display: block;
  width: 250px;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f8f9fa;
  border-color: rgba(0, 0, 0, 0.137);
}
.name-email label {
  font-size: 15px;
  line-height: 2.3;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin-left: 12px;
}

.textarea {
  margin-top: 30px;
}
.textarea label {
  font-size: 15px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin-left: 12px;
}
.textarea textarea {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #f8f9fa;
}

.send-message input {
  width: 130px;
  font-size: 13px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #00917c;
  text-align: center;
  padding: 14px;
  margin-top: 25px;
  border-radius: 18px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

#clearAllBtn {
  margin-top: 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-sect {
  margin-top: 70px;
}
.table-sect .select-inp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name-email .success input {
  border-color: #09c372;
}

.name-email .error input {
  border-color: #ff3860;
}

.name-email .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}/*# sourceMappingURL=main.css.map */